keyframes background {
    0% {
        background-color: rgb(255, 255, 255);
    }
  
    100% {
        background-color: rgb(0, 0, 0);
    }
 }
  
 body {
    animation-name: background;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
 }
 